@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

:root {
  --dourado: #bba35e;
  --fonte: "Montserrat", sans-serif;
  --preto: #161a23;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 110px;
  background-color: var(--preto);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .info {
  display: flex;
}

header img {
  height: 110px;
  margin-right: 5px;
}

header span {
  color: var(--dourado);
  font-weight: 800;
  font-family: var(--fonte);
  letter-spacing: 0.1rem;
  font-size: 13px;
}

header .numeros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

header ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

header ul li {
  margin-right: 10px;
  border-right: 1px solid var(--dourado);
  padding-inline: 9px;
}

header ul li a {
  list-style: none;
  text-decoration: none;
  color: var(--dourado);
  font-family: var(--fonte);
  font-weight: 600;
  margin-right: 10px;
}

header ul li a:hover {
  color: #ddcd9d;
}

.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  height: 600px;
  width: 100%;
  background-image: url("img/exemploAp.jpg");
  background-size: cover;
}

.card {
  height: 200px;
  background-color: var(--preto);
  width: 50%;
  display: flex;
  margin-top: 200px;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--fonte);
  color: white;
}

.card h2 {
  color: var(--dourado);
}

.card a {
  text-decoration: none;
  color: white;
  background-color: var(--dourado);
  margin-top: 20px;
  width: 130px;
  height: 30px;
  text-align: center;
  padding-top: 12px;
  border-radius: 10px;
  transition: all 0.3s;
}

.card a:hover {
  width: 140px;
  height: 32px;
}
.card a:active {
  background-color: #ddcd9d;
  width: 135px;
  height: 31px;
}

.unidades {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
  height: 300px;
  align-items: center;
  margin-bottom: 100px;
}

.unidades .imovel-1 {
  background-image: url("img/quintal.png");

}
.unidades .imovel-2 {
  background-image: url("img/padrao.jpeg");

}
.unidades .imovel-3 {
  background-image: url("img/duplex.jpeg");

}

.unidades .imovel-1,
.unidades .imovel-2,
.unidades .imovel-3{
  height: 170px;
  width: 170px;
  background-position: -50px;
  background-size: 240px;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: inset -0px -30px 20px black;
  margin: 20px;
  transition: all 0.3s;
}

.unidades .imovel-1 span,
.unidades .imovel-2 span,
.unidades .imovel-3 span {
  color: white;
  font-family: var(--fonte);
  margin-left: 8px;
}
.unidades .imovel-1:hover,
.unidades .imovel-2:hover,
.unidades .imovel-3:hover { 
  padding-bottom: 20px;
  padding-top: 20px;
  cursor: pointer;
}
.unidades a {
  text-decoration: none;
}

.imoveis {
  display: flex;
}

.unidades h1 {
  margin-bottom: 50px;
  font-family: var(--fonte);
}

.apartamentos {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ap1 {
  display: flex;

  width: 100%;
  height: 320px;
}
.ap2 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 320px;
}

.textodoap {
  flex: 5;
  background-color: var(--preto);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--fonte);
  color: white;
  padding-left: 30px;
  text-transform: uppercase;
}
.textodoap2 {
  flex: 5;
  background-color: var(--dourado);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--fonte);
  color: var(--preto);
  padding-left: 30px;
  text-transform: uppercase;
}
.textodoap h3 {
  font-weight: 400;
}
.imgdoap1 {
  background-image: url("img/piscina.jpeg");
  flex: 4;
  background-size: 760px;
  background-position: -4px -40px;
}
.imgdoap2 {
  background-image: url("img/quadra.webp");
  flex: 4;
  background-size: 700px;

}
.corretores {
  background-color: var(--preto);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.corretores h1 {
  color: white;
  font-family: var(--fonte);
}
.corretores h2 {
  color: white;
  font-family: var(--fonte);
  margin-bottom: 10px;
}
.senhores {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  flex: 1;
  justify-content: space-evenly;
}

.senhor {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100px;
}
.senhor a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--preto);
  background-color: var(--dourado);
  width: 170px;
  text-align: center;
  height: 80px;
  border-radius: 20px;
  color: white;
  font-family: var(--fonte);
  overflow: hidden;
}
.senhor a img {
  width: 40px;
  transition: all 0.3s;
}
.senhor a span {
  transition: all 0.3s;
}

.senhor a:hover img {
  transform: translateX(80%);
}
.senhor a:hover span {
  transform: translateX(170%);
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/fotoSalaDesfoque.png);
  width: 100%;
  background-size: cover;
  height: 300px;
  background-position: -2px -30px;
}

.contato{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 400px;
  padding-bottom: 100px;
}

.formulario{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  /* width: 20%; */
  flex: 1;
  
}

.formulario input{
  background-color: #323641;
  border: none;
  border-radius: 10px;
  height: 50px;
  color: white;
  padding: 3px 8px;
  width: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.formulario textarea{
  background-color: #323641;
  border: none;
  border-radius: 10px;
  width: 53%;
  padding: 8px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formulario label{
  font-family: var(--fonte);
  color: white;
  margin-top: 10px;
}

.enviar{
  border: none;
  width: 53%;
  margin-top: 20px;
  background-color: var(--dourado);
  padding: 10px 15px;
  border-radius: 10px;
  font-family: var(--fonte);
  font-weight: 600;
  transition: 0.2s all;
  cursor: pointer;
}

.enviar:hover{
  transform: scale(1.1);
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   
    -webkit-appearance: none;
    margin: 0; 
}

@media only screen and (max-width: 500px) {
  .imoveis {
    flex-direction: column;
  }
  .unidades {
    height: 670px;
  }
  .unidades h1 {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 0px;
  }
  .numeros span {
    font-size: 10px;
  }
  header {
    flex-direction: column;
    height: 150px;
    justify-content: space-evenly;
  }
  header ul li {
    padding: 0;
  }
  header ul {
    padding: 0;
    margin-left: 4%;
  }
  .card h2 {
    font-size: 1.3em;
  }
  .card h3 {
    font-size: 1.1em;
  }
  .ap1 {
    height: 280px;
  }
  .ap2 {
    height: 280px;
  }
  .textodoap2 {
    
    padding: 5px;
  }

  .contato{
    flex-direction: column-reverse;
    height: 700px;
    align-items: center;
    padding-bottom: 10px;
  }

  .formulario{
    border-bottom: solid white;
    padding-bottom: 30px;
    height: 400px;
  }

  .formulario input{
    width: 90%;
    height: 30px;
  }

  .formulario textarea{
    width: 93%;
  }

  .enviar{
    width: 100%;
  }

  .corretores{
    text-align: center;
  }
}
